.list{
    border: 1px solid black;
    padding: 2rem;
}

h1{
    text-align: center;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
}

li:not(:last-child){
    margin-bottom: 2rem;
}

.name-price{
    gap: 1rem;
    margin-bottom: 1rem;
}

.separator{
    height: 1.6rem;
    flex-grow: 1;
    border-bottom: 3px dotted black;
}

.category-img{
    display: block;
    width: 20rem;
    margin: 0 auto;
}