<div>
  <div class="fields flex">
    <mat-form-field class="search" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Buscar" [formControl]="searchField" />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource">
    <
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>

      <td mat-cell *matCellDef="let category">
        @if (selectedCategory != category) {
        {{ category.nombre }}
        } @else {
        <mat-form-field [appearance]="'outline'" style="margin-bottom: -1.25em">
          <input
            matInput
            type="text"
            [formControl]="control('nombre')"
            autocomplete="off"
          />
        </mat-form-field>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let category">
        @if (selectedCategory != category) {
        <img
          [src]="'data:image/png;base64,' + category.imagen"
          [alt]="category.nombre"
          width="100"
        />
        } @else {
          <esime-select-image (sendImage)="onSelectedImage($event)" imageWidth="100px" />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Accion</th>
      <td mat-cell *matCellDef="let category">
        <div class="btns flex">
          @if (selectedCategory != category) {
          <button mat-flat-button color="primary" (click)="edit(category)">
            Editar
          </button>
          <button mat-stroked-button (click)="delete(category)">
            Eliminar
          </button>
          } @else {
          <button mat-flat-button color="primary" (click)="saveEdit()">Guardar</button>
          <button mat-stroked-button>Cancelar</button>
          }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
