<div class="dialog flex column">
  <div class="fields flex column">
    <label>Nombre de categoria</label>
    <mat-form-field appearance="outline">
      <input matInput [formControl]="control('nombre')">
    </mat-form-field>
    <label >Imagen de categoria</label>
    <esime-select-image imageWidth="200px" (sendImage)="onSelectedImage($event)"/>
  </div>

  <div class="btns flex j-end">
    <button mat-stroked-button (click)="save()">Aceptar</button>
    <button mat-stroked-button (click)="close()">Cancelar</button>
  </div>
</div>